.product-card {
    background: inherit;
    padding: 0;
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding: 0;
}

.product-image {
    max-width: 25ex;
    max-height: 25ex;
    margin-bottom: 2ex;
}